*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {   
    background-color: #4EA0FF;
    background-image: url(../img/pattern.png);
    background-size: 350px;
    padding: 40px 10px 5px 5px;
    margin-bottom: 20px;
}

main, footer {
    margin: 6px;
}

.header_logo {
    height: 45px;
}

.article_header {
    margin-bottom: 20px;
}

.article_title {
    font-size: 36px;
    line-height: 0.9em;
    margin-bottom: 4px;
}

.article_author, .article_date {
    color: grey;
    font-weight: bold;
}

.article_author {
    font-size: 14px;
    line-height: 1.4em;
}

.author_highlight {
    color: #4EA0FF;
}

.article_date {
    font-size: 9px;
    margin-bottom: 12px;
}

.figure_img1, .figure_img2 {

    height: 315px;
}

figure p {

    font-size: 12px;
}

.article_text {
    margin-bottom: 24px;
}

.article_highlight {

    background-color: yellow;

}

.article_list {
    margin-left: 30px;
    margin-bottom: 24px;
}

.article_table {
    table-layout: fixed;
    border-spacing: 0;
    margin-bottom: 24px;
}

.article_table th {
    color: white;
    background-color: #20A9E5;
    text-align: left;
}

.article_table th:nth-child(1) {
    width: 25%;
}

.article_table th:nth-child(2) {
    width: 25%;
}

.article_table th:nth-child(3) {
    width: 50%;
}

.article_table tbody tr:nth-child(odd) {
    background-color: #B1E5F2;
}

.footer_text {
    color: grey;
    font-weight: bold;
    margin-bottom: 12px;
}

.footer_img1, .footer_img2 {
    color: white;
    background-color: #20A9E5;
    height: 160px;
    width: 220px;
    padding: 10px 0px 0px 10px;
    margin-bottom: 12px;
    background-size: cover;
    background-repeat: no-repeat;
    font-weight: bold;
}

.footer_img1 {
    background-image: url(../img/monitor.jpg);
}

.footer_img2 {
    background-image: url(../img/graph.jpg);
}

.css_switch {
    display: block;
    text-align: center;
}
